Deborah Schmidt <mail@frauzufall.de>
Deborah Schmidt <mail@frauzufall.de> <frauzufall@mpi-cbg.de>
Johannes Schindelin <johannes.schindelin@gmx.de>
Mark Hiner <hinerm@gmail.com>
Robert Haase <robert_haase@gmx.de> <haesleinhuepf@users.noreply.github.com>
Robert Haase <robert_haase@gmx.de> <rhaase@scicomp-mac-2-tb.mpi-cbg.de>
Stephan Saalfeld <saalfelds@janelia.hhmi.org>
Tiago Ferreira <tiagoalvespedrosa@gmail.com>
Tobias Pietzsch <tobias.pietzsch@gmail.com>
